<html>
	<head>
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script type="text/javascript" src="js/source.js"></script>	
	</head>
	<body ng-app="app">
		<div ng-controller="oneController">
			<input type="text" ng-model="firstName"> &nbsp; &nbsp; &nbsp;
			<input type="text" ng-model="Age">
			<br/>
			<input type="button" ng-click="Add()" value="Add to list">
		<ul style="list-style-type:none">
			<li ng-repeat="friend in friends">
				<input type="checkbox" ng-model="friend.isTech" >
				{{friend.Name}}  {{friend.Age}}
			</li>
		</ul>
		<h4>Non-Technical users list</h4>
			<ul>
				<li ng-repeat="friend in friends | filter: friend.isTech : true ">
					{{friend.Name}}	{{friend.isTech}}				
				</li>
			</ul>
		<h1>Technologies</h1>
			<ul style="list-style-type:none;">
				<li ng-repeat="tech in techs">
					<input type="checkbox" ng-model="tech.selected">
					&nbsp;{{tech.Name}}
				</li>
			</ul>
		</div>
	</body>
</html>